@model diveSiteProject.Models.DiveSite

@{
    ViewBag.Title = "deleteView";
}

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Location), @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.Country)?</h3>
<h4>@Html.DisplayFor(model => model.Date)</h4>
<div>
    <hr />
@using (Html.BeginForm()) { 
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DiveSite", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
